@use "var.scss";

.circle {
  position: absolute;
  width: 400px;
  height: 400px;
  top: 40%;
  left: 0;
  border-radius: 100%;
  transform: translate(-50%, -50%);
  background: var.$primaryColor;
  filter: blur(400px) opacity(0.8);
}

.custom-title .ant-typography {
  opacity: 1;

  @media (max-width: 680px) {
    font-size: 42px;
  }
}
