@use "var.scss";

.circle {
  position: absolute;
  width: 400px;
  height: 400px;
  top: 40%;
  left: 0;
  border-radius: 100%;
  transform: translate(-50%, -50%);
  background: var.$primaryColor;
  filter: blur(400px) opacity(0.8);
}

.desktop-title {
  display: inherit;

  @media (max-width: 500px) {
    display: none;
  }
}

.mobile-title {
  display: inherit;

  @media (min-width: 500px) {
    display: none;
  }
}
